body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.3;
  background-color: #f6f7f9;
  color: #31475f;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

input, textarea {
  font-family: 'Lato', sans-serif;
  background-color: transparent; }

.menu_nav_link.active {
  background-color: #d9e021; }

.main_nav_link.active {
  background-color: transparent; }

.search_inputs_cont .search_input:last-child {
  margin-bottom: 10px; }

@media only screen and (max-width: 1024px) {
  .search_inputs_cont .search_input:last-child {
    display: none; } }

.search_img {
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
  margin-left: 10px;
  border-bottom: 2px solid #d9e021;
  align-self: end; }

.mobile_only_input {
  display: none; }

@media only screen and (max-width: 1024px) {
  .mobile_only_input {
    display: block; } }

.closeButton,
.sideBarButton {
  width: 30px;
  height: 30px;
  position: absolute;
  color: #f6f7f9;
  fill: #31475f; }

.closeButton {
  top: 15px;
  right: 15px; }

.sideBarButton {
  top: 30px;
  left: 15px; }
